.header{
    width: full;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/6990623/pexels-photo-6990623.jpeg?_gl=1*1q0fuun*_ga*MTk4NDQ3OTg2My4xNzYyNDEzMjcw*_ga_8JE65Q40S6*czE3NjQxMzY3MDkkbzMkZzEkdDE3NjQxMzc1MTkkajYwJGwwJGgw");
    background-position: center;
    background-size: cover;
    width:full;
}